<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    </head>
    <body style='background-color:#F7D6E4'>
        
        <h1 style='text-align: center; margin: auto; color: rgb(104, 104, 104); margin-top: 30px;'> Awe Sweet </h1>
        
        <div    class="container" 
                style=' background-color: white; 
                        padding: 30px;
                        margin: auto;
                        width: 600px;
                        margin-bottom: 50px;'>
            
            <!-- Email title -->
            <h3 style=' color:#73797d;
                        margin: auto;
                        text-align: center;'>
                
                Daily recap for {{cme_date}}
                <br>
                {{CME_name}}
            </h3>

            <!-- Section: Cooking Bonus-->
            <!--<section style='margin-top: 20px;'>-->

                <!-- Section Header -->
                <!--<h2 style=' color:#73797d;
                            margin: auto;
                            text-align: center;'>
                    Cooking Bonus
                </h2>-->

                <!-- Explaination -->
                <!--<h4 style='     color:#73797d;
                                margin: auto;
                                text-align: center;
                                margin-bottom: 20px;'>
                    Cook {{x}} more lbs of nuts for {{reward}}!
                </h4>-->

                <!--Data Table-->
                <!--<table  class='table table-bordered'
                        style=' margin: auto;
                                text-align:center;'>
                    <tr>
                        <td>$0</td>
                        <td>$2</td>
                        <td>$3</td>
                        <td>$4</td>
                        <td>$5</td>
                    </tr>
                </table>
            </section>-->

            <hr>

            <section>

                <!-- Section Header -->
                <h2 style=' color:#73797d;
                            margin: auto;
                            text-align: center;
                            margin-bottom: 20px;'>
                    Hourly Sales
                </h2>
                
                <!--Data Table-->
                <table  class='table table-bordered'
                        style=' margin: auto;
                                text-align: center;'>
                    <tr>
                        <th style='text-align: center'>Hour</th>
                        <th style='text-align: center'># Nuts</th>
                        <th style='text-align: center'>$ Sales</th>
                        <th style='text-align: center'>Commission</th>
                        <th style='text-align: center'>Tips</th>
                        <th style='text-align: center'>Portion</th>
                    </tr>
                    <!--Iterate over sales hours-->
                    {{#salesHrs hrly portion}}{{/salesHrs}}

                    <!-- Sum up all hours-->
                    <tr>
                            <td></td>
                            <td><strong>{{sum.nuts}}</strong></td>
                            <td><strong>{{#formatMoney sum.sales}}{{/formatMoney}}</strong></td>
                            <td><strong>{{#formatMoney sum.comm}}{{/formatMoney}}</strong></td>
                            <td><strong>{{#formatMoney sum.tips}}{{/formatMoney}}</strong></td>
                            <td></td>
                        </tr>
                </table>

                <table  class="table table-borderless" style='margin: auto; width: 80%; margin-top: 30px;'>
                    <!--Shift hours-->
                    <tr>
                        <td>Shift Hours:</td>
                        <td style='text-align:right'>{{results.total_hours}}</td>
                    </tr>
                    <!--Guaranteed Pay-->
                    <tr>
                        <td>Guaranteed Pay:</td>
                        <td style='text-align:right'>{{#formatMoney results.guaranteed_pay}}{{/formatMoney}}</td>
                    </tr>
                    <!--Commissions-->
                    <tr>
                        <td>Commissions:</td>
                        <td style='text-align:right'>{{#formatMoney results.commissions}}{{/formatMoney}}</td>
                    </tr>
                    <!--Tips-->
                    <tr>
                        <td>Tips:</td>
                        <td style='text-align:right'>{{#formatMoney results.tips}}{{/formatMoney}}</td>
                    </tr>
                    <!--Cooking Bonus-->
                    <!--<tr>
                        <td>Cooking Bonus:</td>
                        <td style='text-align:right'>{{results.cooking_bonus}}</td>
                    </tr>-->
                    <!--Your Earnings-->
                    <tr>
                        <td><strong>Your Earnings:</strong></td>
                        <td style='text-align:right'><strong>{{#formatMoney results.your_earnings}}{{/formatMoney}}</strong></td>
                    </tr>
                    <!--Effective Rate-->
                    <tr>
                        <td>Effective Rate:</td>
                        <td style='text-align:right'>{{#formatMoney results.effective_rate}}{{/formatMoney}} / hr</td>
                    </tr>
                </table>
            </section>
            
        </div>
    </body>
</html>