<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
         <!-- The character set should be utf-8 -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width"/>
        <title>Daily Recap Email</title>

        <!--
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
        -->
        <style>
            .body {
                    margin: 0;
                    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #212529;
                    text-align: left;
                    display: block;
            }
            .table {
                width: 100%;
                max-width: 100%;
                background-color: transparent;
                border-collapse: collapse;
                display: table;
            }
            .table-bordered  {
                border: 1px solid #dee2e6;
            }
            .table-borderless {

            }
        </style>
    </head>
    <body style='background-color:#F7D6E4'>
        
        <h1 style='text-align: center; margin: auto; color: rgb(104, 104, 104); margin-top: 30px;'> Awe Sweet </h1>
        
        <div    class="container" 
                style=' background-color: white; 
                        padding: 30px;
                        margin: auto;
                        width: 600px;
                        margin-bottom: 50px;'>
            
            <!-- Email title -->
            <h3 style=' color:#73797d;
                        margin: auto;
                        text-align: center;'>
                
                Daily Recap for {{#cme_date cme_date}}{{/cme_date}}
                <br>
                @{{CME_name}}
            </h3>

            <!-- Section: Cooking Bonus-->
            <!--<section style='margin-top: 20px;'>-->

                <!-- Section Header -->
                <!--<h2 style=' color:#73797d;
                            margin: auto;
                            text-align: center;'>
                    Cooking Bonus
                </h2>-->

                <!-- Explaination -->
                <!--<h4 style='     color:#73797d;
                                margin: auto;
                                text-align: center;
                                margin-bottom: 20px;'>
                    Cook {{x}} more lbs of nuts for {{reward}}!
                </h4>-->

                <!--Data Table-->
                <!--<table  class='table table-bordered'
                        style=' margin: auto;
                                text-align:center;'>
                    <tr>
                        <td>$0</td>
                        <td>$2</td>
                        <td>$3</td>
                        <td>$4</td>
                        <td>$5</td>
                    </tr>
                </table>
            </section>-->

            <hr>

            <section>

                <!-- Section Header -->
                <h2 style=' color:#73797d;
                            margin: auto;
                            text-align: center;
                            margin-bottom: 20px;'>
                    Hourly Sales
                </h2>
                
                <!--Data Table-->
                <table  class='table table-bordered'
                        style=' margin: auto;
                                text-align: center;'>
                    <tr>
                        <th style='text-align: center'>Hour</th>
                        <!--<th style='text-align: center'># Nuts</th>-->
                        <th style='text-align: center'>$ Sales</th>
                        <th style='text-align: center'>Commission</th>
                        <th style='text-align: center'>Tips</th>
                        <th style='text-align: center'>Portion</th>
                    </tr>
                    <!--Iterate over sales hours-->
                    {{#salesHrs hrly }}{{/salesHrs}}

                    <!-- Sum up all hours-->
                    <tr>
                            <td></td>
                            <!--<td><strong>{{sum.nuts}}</strong></td>-->
                            <td><strong>{{#formatMoney sum.sales}}{{/formatMoney}}</strong></td>
                            <td><strong>{{#formatMoney sum.comm}}{{/formatMoney}}</strong></td>
                            <td><strong>{{#formatMoney sum.tips}}{{/formatMoney}}</strong></td>
                            <td></td>
                        </tr>
                </table>

                <table  class="table table-borderless" style='margin: auto; width: 80%; margin-top: 30px;'>
                    <!--Shift hours-->
                    <tr>
                        <td>Shift Hours:</td>
                        <td style='text-align:right'>{{#shiftTime results.total_hours}}{{/shiftTime}}</td>
                    </tr>
                    <!--Guaranteed Pay-->
                    <tr>
                        <td>Guaranteed Pay:</td>
                        <td style='text-align:right'>{{#formatMoney results.guaranteed_pay}}{{/formatMoney}}</td>
                    </tr>
                    <!--Commissions-->
                    <tr>
                        <td>Commissions:</td>
                        <td style='text-align:right'>{{#formatMoney results.commissions}}{{/formatMoney}}</td>
                    </tr>
                    <!--Tips-->
                    <tr>
                        <td>Tips:</td>
                        <td style='text-align:right'>{{#formatMoney results.tips}}{{/formatMoney}}</td>
                    </tr>
                    <!--Cooking Bonus-->
                    <!--<tr>
                        <td>Cooking Bonus:</td>
                        <td style='text-align:right'>{{results.cooking_bonus}}</td>
                    </tr>-->
                    <!--Your Earnings-->
                    <tr>
                        <td><strong>Your Earnings:</strong></td>
                        <td style='text-align:right'><strong>{{#formatMoney results.your_earnings}}{{/formatMoney}}</strong></td>
                    </tr>
                    <!--Effective Rate-->
                    <tr>
                        <td>Effective Rate:</td>
                        <td style='text-align:right'>{{#formatMoney results.effective_rate}}{{/formatMoney}} / hr</td>
                    </tr>
                </table>
            </section>
            
        </div>
    </body>
</html>